ul {
	padding: 0;
	list-style-type: none;
	color: white;
}

p {
	opacity: 75%;
	text-shadow: 2px 2px 20px black;
	font-family: 'Montserrat', sans-serif;
}

.fa {
	color: white;
}

.fa:hover {
	color: grey;
}
