.contacttitle {
	/* height: 34vh; */
	/* height: 25vh; */
	width: 100vw;
	/* background-color: white; */
	/* background: none; */
}

.h1titlecontact {
	color: white;
	padding-top: 80px;
	padding-bottom: 35px;
	font-size: 80px;
	font-family: 'Satisfy', cursive;
	text-shadow: 4px 4px 55px black;
}
